fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
psycopg2-binary
python-dotenv
livekit-api
livekit-agents
livekit-plugins-aws
livekit-plugins-silero
livekit-plugins-deepgram
aiohttp
